.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.AppHeader {
  background: deepskyblue;
  color: white;
  text-align: center;
}

.AppHeader__Title {
  font-size: 25px;
  padding: 15px;
  margin: 0;
}

.AppMain {
  padding: 15px;
  flex: 1;
}

.AppFooter {
  border-top: 1px dashed gainsboro;
  border-bottom: 1px dashed gainsboro;
  padding: 15px;
  text-align: center;
  position: sticky;
  bottom: 0px;
  background-color: white;
  font-weight: 500;
}
