.newPost {
  margin: 20px auto;
  width: 50%;
  border: 1px solid gainsboro;
}

.newPost form {
  padding: 0px 20px 20px 20px;
}

.newPost__control {
  margin-top: 20px;
}

.newPost__control label {
  font-size: 1rem;
  font-weight: 500;
  width: 100px;
  float: left;
}

.newPost__control input,
textarea {
  border-radius: 0.25rem;
  padding: 0.75rem;
  outline: none;
  border: 1px solid gainsboro;
  font-size: 1rem;
  width: 300px;
}
