.UserProfile__UpperSide {
  text-align: center;
}

.UserProfile__UpperSide * {
  display: inline-block;
  vertical-align: middle;
}

.UserProfile__FullName {
  font-size: 20px;
  font-weight: 500;
  margin-right: 50px;
}

.UserProfile__Avatar {
  border-radius: 50%;
  overflow: hidden;
  height: 100px;
  width: 100px;
}

.LatestPost {
  margin: 20px auto;
  width: 50%;
  border: 1px solid gainsboro;
}

.LatestPost__title {
  margin-left: 20px;
}
